/* ======= URL FOR CC0 LICENSE PHOTOS FROM PEXELS.COM ========= */
/*
placeholder-001.jpg
https://www.pexels.com/photo/human-hand-on-fog-glass-26298/

card-placeholder-002
https://www.pexels.com/photo/backlit-dark-dawn-environment-289367/

home-post-placeholder-001
https://www.pexels.com/photo/brown-pumpkin-halloween-decor-and-gray-skull-at-grass-field-211358/

home-post-placeholder-002
https://www.pexels.com/photo/white-abandon-condominium-during-day-time-164314/

*/

/* WILL NEED QUERY FOR 1100PX TO DISPLAY BLOCK AND CHANGE SIZE AND POISITION */

/* === SETS LOGO TO TOP OF PAGE === */
figure#logobox {
    position: absolute;
    top: 0;
	left: 0;
}

/* === REMOVES THE 'CLIP ART' BIRD ON RIGHT SIDE OF PAGE === */
figure#silh img {
	display: none;
}

/* REMOVES WRAPPER FOR LOGO/LOGO BACKGROUND */
div#label-wrap {
	display: none
}

/* REMOVES 50px BLACK BORDER FROM TOP OF PAGE TO MOVE LOGO FURTHER UP */
#main-content {
	border-top: none;
}

/* MOVES BLOG CARD OVER TO REVEAL LAST MENU ITEM */
.box1 {
    left: -85px;
}



/* MEDIA QUERIES GO HERE! */
@media only screen and (max-width: 1029px){
   
    
}